body: { 
	margin: 0 0;
	padding: 0 0;
}

.w500 {
	width: 500px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.rounded {
	border-radius: 5px;
	border-color: #f0f3ff;
	border-style: solid;
	border-width: 1px;
}

.text-center {
	text-align: center;
}

.nortal {
	color: #267D2E;
}

.bg-nortal {
	background-color: #267D2E;
}

.mt150 {
	margin-top: 150px !important;
}

.mt20 {
	margin-top: 20px;
}

.p10 {
	padding: 10px;
}

.m10 {
	margin: 10px;
}

.p20 {
	padding: 20px;
}

.m20 {
	margin: 20px;
}

.control-hint {
	padding: 2px;
	margin-top: -2px;
	display: block;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.form-error .control-hint {
	background-color: #a62300;
	color: white;
}

.form-error input, .form-error .add-on {
	border-color: #a62300;
}

.form-error label, .form-error .input-prepend {
	color: #a62300;
}

.control-wrapper {
	display: inline-block;
}

.item {
	display: block;
	float: left;
	vertical-align: top;
	margin: 2px;
	padding: 10px;
	width: 320px;
}

.item img {
	float: left;
	padding-right: 10px;
}

.item h5 {
	display: inline;
}

.item button {
	float: right;
	clear: left;
}

.item .amount {
	font-size: 0.8em;
	float: left;
	color: #606060;
	vertical-align: bottom !important;
}

td.negative {
	color: red;
}

td.positive {
	color: green;
}